# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.firebase
.env
firebase.json
.firebaserc


src/Firebase
src/data
src/components/POS
src/components/Admin/StaffSchedule.tsx
src/pages
src/components/Admin/CustomerTokenDisplay.tsx
src/components/Admin/MenuItemManagement.tsx
src/components/Admin/KichenQueue.tsx
src/components/Authentication
src/components/Others
